<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		    	<div class="navbar-brand" ><a ui-sref="main" class="deco-none">Bittrex Gatherer</a></div>
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      
		    </div>
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="navbar-main">
		      <ul class="nav navbar-nav">
		        <li class="dropdown dropdown-scroll" uib-dropdown>
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>Markets <span class="caret"></span></a>
		          <ul class="dropdown-menu">
			          <li role="presentation">
			            <div class="input-group input-group-sm search-control"> 
			            	<span class="input-group-addon">
			                    <span class="glyphicon glyphicon-search"></span>
							</span>
			                <input type="text" class="form-control" placeholder="Query" ng-model="query"></input>
			            </div>
			        </li>
		            <li role="presentation" ng-repeat="item in vm.tradingpairs | filter:query"><a ng-click="vm.switchTo(item.MarketName)">{{item.MarketName}}</a></li>
		            
		          </ul>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container -->
	</nav>	

<div class = "container">
	<div class="page-header" id="banner">
	  <h1><center>{{ vm.currentTradingPair}}</center></h1>
	</div>
	<div class = "jumbotron">
	
		<div class="alert alert-danger" ng-hide = "vm.error.hidden">
		  <strong>Error!</strong> {{vm.error.message}}
		</div>
		
	   <div class="container">
	    	<div class="row">
		      <div class = "col-xs-6">
		      	<h2 class="sub-header">Buy Orders</h2>
		      	<div class="table-responsive">
			      <table class="table table-striped">
	    			<thead>
				      <tr>
				        <th class="col-md-1 sortorder" ng-click="vm.sortBuysBy('key')" ng-class="{reverse: vm.buysReverse}"> Buy Price</th>
				        <th class="col-md-1">Buy Volume</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="key in vm.getKeys(vm.orderBook.buyOrders) | orderBy:vm.buysPropertyname:vm.buysReverse">
				        <td class="col-md-1"> {{key}}</td>
				        <td class="col-md-1"> {{vm.orderBook.buyOrders[key]}}</td>
				      </tr>
				   </table>
				   </div>
			  </div>
			  <div class = "col-xs-6">
		      <h2 class="sub-header">Sell Orders</h2>
		      	<div class="table-responsive">
			      <table class="table table-striped">
	    			<thead>
				      <tr>
				        <th class="col-md-1 sortorder" ng-click="vm.sortSellsBy('key')" ng-class="{reverse: vm.sellsReverse}"> Sell Price</th>
				        <th class="col-md-1">Sell Volume</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="key in vm.getKeys(vm.orderBook.sellOrders) | orderBy:vm.sellPropertyName:vm.sellsReverse">
				        <td class="col-md-1"> {{key}}</td>
				        <td class="col-md-1"> {{vm.orderBook.sellOrders[key]}}</td>
				      </tr>
				      </table>
				      </div>
			  </div>
		      
		     </div>
			</div> 
		
	
	</div>
</div>